<template name="CreateMatch">
<div class="container">

  <form id="create_match_form" action="">
    <fieldset>
      <legend>Add Match</legend>
      <div class="form-group">
        <label for="match_opponent">Opponent:</label>
        <input id="match_opponent" class="form-control" type="text" name="match_opponent" />
      </div>
      <div class="form-group">
        <label for="match_date">Date:</label>
        <input id="match_date" class="form-control" type="date" name="match_date" />
      </div>
    </fieldset>
    <input type="submit" value="Create match" class="btn btn-primary btn-block" />
    
</form>
</div>
</template>
